
{% extends 'main/base.html' %}

{% block map %}
{% endblock %}
{% block content-title %}
This is post detail
{% endblock %}

{% block content %}
    <a href="{% url 'post.post_list' %}">back to post list</a>
    <br>
<ul id="list">
        <li>
            <h3>{{post.title|safe}}</h3>
            <br/>
            <img height="200px" alt="img" src="{{post.imageLink}}"/>
            <p>{{post.content|safe}}</p>
            <br/>
            <p><strong>created at: </strong>{{post.created_at}}</p>
        </li>
</ul>
<a href="/post/post_update/{{post.id}}" >Edit this post</a>
    <a href="#" onclick="confirmDeletePost()">Delete this post</a>
    <script type="text/javascript">
        function confirmDeletePost() {
            var resp = confirm("Are you sure to delete this post?")
            console.log(resp + 'work');
            if (resp) {
                window.location.href   = '/post/post_delete/{{post.id}}/';
            }
            return false;
        }
    </script>
{% endblock %}