
{% extends 'main/base.html' %}

{% block map %}
{% endblock %}
{% block content-title %}
{% endblock %}

{% block content %}
<div class="body">
    <ul id="list">
        <li>
          <h3>{{post.title}}</h3>
          <br>
          <p>By {{post.created_by}} </p>
          <p>{{post.created_at}}</p>
          <p>Type: {{post.type}}</p>
          <p>&nbsp;</p>
            <p>{{post.content}}</p>
            <p>&nbsp;</p>
          <br>
<input type="Submit" class="btn" name="Back to News" id="Back to News" value="Back to News" onclick="window.location.href='/post/post_list/'">
<input type="Submit" class="btn" name="Edit" id="Edit" value="Edit" onclick="window.location.href='/post/post_update/{{post.id}}'">
<input type="Submit" class="btn" name="Delete" id="Delete" value="Delete" onclick="confirmDeletePost()">
        </li>
    </ul>
</div>
    <!--<a href="{% url 'post.post_list' %}">back to post list</a>-->
    <!--<a href="/post/post_update/{{post.id}}" >Edit this post</a>-->
    <!--<a href="#" onclick="confirmDeletePost()">Delete this post</a>-->
    <script type="text/javascript">
        function confirmDeletePost() {
            var resp = confirm("Are you sure to delete this post?")
            console.log(resp + 'work');
            if (resp) {
                window.location.href   = '/post/post_delete/{{post.id}}/';
            }
            return false;
        }
    </script>
{% endblock %}