{% extends "main/base_list.html" %}
{% block map %}

{% endblock %}

{% block content-title-list %}
News
{% endblock content-title-list %}

{% block sidebar %}
			  <div id="navigation">
					<div>
						<ul>
							<li class="selected">
								<a href="/main/">Home</a>
							</li>

							<li>
								<a href="/post/post_list/"><font color="#FFFFFF">News</font></a>
							</li>
							<li>
								<a href="/about">About us</a>
							</li>
                            <li>
								<a href="/contact">Contact us</a>
							</li>

					  </ul>
					</div>
				</div>
{% endblock sidebar %}

{% block content %}
<p>
    <!--<a href="{% url 'main.main_page' %}">Back to home</a>-->
    <!--<br/>-->
    <!--<a href="{% url 'post.post_create' %}">Create a new post</a>-->
</br>
<input type="Submit" class="btn" name="Edit" id="Edit"
value="Create a new post" onclick="window.location.href='/post/post_create/'">

</p>

<ul id="list">
{% for post in post_list %}
<li>

						  <h3>{{post.title}}</h3>
						  <span class="time">{{post.created_at}}<br>
					      </span>
						  <p>
						    <br>
                              {{post.content|safe}}
                            <a href="/post/post_retrieve/{{post.id}}/">See more..</a>
                           </p>

            <a href="/post/post_retrieve/{{post.id}}/" class="more">Read more &gt;&gt;</a>
</li>

{% endfor %}
<div id="pagination">
<a href="news.html">&lt;&lt;</a> <a href="news.html">First</a> <a href="news.html">1</a> <a href="news.html">2</a> <a href="news.html">3</a> <a href="news.html">4</a> <a href="news.html">5</a> <a href="news.html">6</a> <a href="news.html">7</a> <a href="news.html">8</a> <a href="news.html">9</a> <a href="news.html">10</a> <a href="news.html">11</a> <a href="news.html">12</a> <a href="news.html">13</a> <a href="news.html">14</a> <a href="news.html">15</a> <a href="news.html">16</a> <a href="news.html">17</a> <a href="news.html">18</a> <a href="news.html">19</a> <a href="news.html">20</a> <a href="news.html">Last</a> <a href="news.html">&gt;&gt;</a>
					</div>
  </ul>


{% endblock content %}

{% block action %}

{% endblock %}