{% extends 'main/base.html' %}

{% block map %}
{% endblock map %}

{% block content %}
				<div id="gallery">
					<div align="center"><img src="images/imgCrisis.jpg"  alt="Img" width="316" height="202" border = 5></div>
                </div>
				<div class="body"><br>
                <h1><b><u>About Us</u></b></h1>
                <br>
                <p>STORM is a business enterprise solutions that helps to provide applications for the business and agencies. For more information regarding STORM, please visit us at <a href="url">www.stormsolutions.com.sg</a> </p>
				  <p>Crisis Management System (CMS) aims to achieve to provide the public with the latest and updated information of any emergency situation that happens in singapore. This website combines all related government agency efforts to provide the latest news to the public through different social media platform.</p>
                  
                  <p> On top of that, CMS has useful information about the weather, PSI readings and useful contacts for the public. </p>
                  
                  <p> In the event of any technical situation encountered in using CMS, please contact the adminstrators at: <b> 1800-3003-3003 </b> </p>
                    
				</div>

{% endblock content %}

{% block sidebar %}
      <div id="navigation">
            <div>
                <ul>
                    <li class="selected">
                        <a href="/main/">Home</a>
                    </li>

                    <li>
                        <a href="/post/post_list/">News</a>
                    </li>
                    <li>
                        <a href="/about"><font color="#FFFFFF">ABOUT US</font></a>
                    </li>
                    <li>
                        <a href="/contact">Contact us</a>
                    </li>

              </ul>
            </div>
        </div>
{% endblock sidebar %}