
<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Blakletterpress Website Template</title>
    {% load staticfiles %}
	<link rel="stylesheet" href='{% static "main/css/style.css" %}' type="text/css">

    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script>
            tinymce.init({selector:'textarea'});
    </script>
</head>
<body>
	<div id="page">
		<div id="header">
			<div id="motto">
              {% load staticfiles %}
			  <p><a href="index.html"><img src='{% static "main/images/CMSLogo3.png" %}' alt="LOGO"/></a></p>
		  </div>
			<div id="logo"></div>
			<div id="searchbar">
				<form action="#" method="post">
				</form>
			</div>
		</div>
		<div id="contents">
			<div id="main">

{% block map %}
				<div id="gallery">
					<div>
						<img src='{% static "main/images/team-large.jpg" %}' alt="Img"/>
					</div>
					<ul>
						<li>
							<img src='{% static "main/images/smiling.jpg" %}' alt="Img"/>
						</li>
						<li>
							<img src='{% static "main/images/ecofriends.jpg" %}' alt="Img"/>
						</li>
						<li>
							<img src='{% static "main/images/team.jpg" %}' alt="Img">
						</li>
						<li>
							<img src='{% static "main/images/smiling.jpg" %}' alt="Img">
						</li>
						<li>
							<img src='{% static "main/images/ecofriends.jpg" %}' alt="Img">
						</li>
						<li>
							<img src='{% static "main/images/team.jpg" %}'  alt="Img">
						</li>
					</ul>
				</div>
                {% endblock %}
<h2>
{% block content-title %}
{% endblock content-title %}
</h2>

				<div class="body">
                    {% block content %}
					<h1>This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for <em>free</em>.</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend ligula vel velit varius fermentum. Nullam porta hendrerit metus id hendrerit. Maecenas consequat neque sed tellus commodo ultrices et et est. Maecenas non justo vitae dui vulputate rutrum sed a lacus. Pellentesque dapibus, felis eget ornare ultrices, est est imperdiet magna, id ultrices odio leo sed erat. Maecenas nec est egestas ipsum bibendum iaculis. Nulla accumsan posuere nisl. Cras eu consectetur turpis. Etiam condimentum, lorem ac imperdiet ultricies, velit arcu feugiat nunc, vel tristique sapien diam quis velit. Maecenas non metus augue, sit amet tristique libero. In placerat urna quis orci hendrerit pretium. Donec luctus, magna rhoncus pretium tempor, odio orci consequat turpis, id rutrum elit tellus eu odio. Nunc sapien libero, faucibus quis vehicula quis, interdum eu mauris.
					</p>
					<p>
						Cras eu consectetur turpis. Etiam condimentum, lorem ac imperdiet ultricies, velit arcu feugiat nunc, vel tristique sapien diam quis velit. Maecenas non metus augue, sit amet tristique libero. In placerat urna quis orci hendrerit pretium. Donec luctus, magna rhoncus pretium tempor, odio orci consequat turpis, id rutrum elit tellus eu odio. Nunc sapien libero, faucibus quis vehicula quis, interdum eu mauris.
					</p>
                    {% endblock content %}
				</div>

			</div>
			<div id="sidebar">
			  <div id="navigation">
					<div>
						<ul>
							<li class="selected">
								<a href="/main/">Home</a>
							</li>

							<li>
								<a href="/post/post_list/">News</a>
							</li>
							<li>
								<a href="/event/event_list/">Events</a>
							</li>
                            <li>
								<a href="Contact.html">Contact us</a>
							</li>
                            <li>
								<a href="/user/user_login/" class="globe">Log in</a><
							</li>

					  </ul>
					</div>
				</div>
				<div class="section">
					<div id="connect">
						<h2>Connect with us:</h2>
						<a href="https://twitter.com/CMSSocialBot" target="_blank" class="twitter"></a> <a href="https://www.facebook.com/pages/CMS-Alerts/738126479553549" target="_blank" class="facebook"></a> <a href="https://plus.google.com/116253498383005615682/" target="_blank" class="googleplus"></a>
					</div>
				</div>
				<div class="section">
					<div id="posts">
						<h2>Placeholder</h2>
						<ul>
							<li>
								<h5>Title Sample One</h5>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend ligula vel velit varius
								</p>
								<a href="news.html" class="more">Read more</a>
							</li>
							<li>
								<h5>Title Sample One</h5>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend ligula vel velit varius
								</p>
								<a href="news.html" class="more">Read more</a>
							</li>
						</ul>
						<a href="news.html" class="btn2">View More</a>
				  </div>
			  </div>
			</div>
		</div>
	</div>
</body>
</html>


<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

