{% extends 'main/base.html' %}
{% load bootstrap3 %}
{% load my_custom_tags %}
{% block map %}

{% endblock %}

{% block content-title %}
    Forms
{% endblock %}

{% block content %}

    <form role="form" class="form-horizontal" method="post">
        {% csrf_token %}
      <!--<ul>-->
        <!--{{ form.as_ul }}-->
      <!--</ul>-->
                {% bootstrap_form form layout="horizontal" %}
        {% buttons submit='OK' reset='Cancel' layout='horizontal' %}{% endbuttons %}
    </form>

{% endblock %}

    {# Include the hidden fields #}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
    {# Include the visible fields #}
        {% for field in form.visible_fields %}
            <div class="fieldWrapper">
                {% if field.field.widget %}
                {% endif %}
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
