{% extends 'main/base.html' %}

{% block body-title %}
<h1><b><u>
{% block body-title-list %}
{% endblock body-title-list %}
</u></b>
</h1>
{% block filter %}
    <br/>
    <select id="FilterDropDown" onchange="FilterDropDown()">
        <option value="0">Show all</option>
        <option value="1">Dengue</option>
        <option value="2">Gas Leak</option>
        <option value="3">Fire</option>
        <option value="4">Accident</option>
    </select>
    <p style="display: none" id="filter_id" value="{{filter_id}}"></p>
    <script type="text/javascript">
        $('document').ready(function() {
            $("#FilterDropDown").find("option").each(function(){
                if( $(this).attr('value') == $("#filter_id").attr("value")) {
                    $(this).attr("selected","selected");
                }
            });
        });
        function FilterDropDown() {
            window.location.href = document.getElementById('FilterDropDown').value + "#body";
        }
    </script>
{% endblock filter%}
{% endblock body-title %}

{% block pagination %}
<div id="pagination">
    <a href="0">&lt;&lt;</a> <a href="news.html">First</a> <a href="news.html">1</a> <a href="news.html">2</a> <a href="news.html">3</a> <a href="news.html">4</a> <a href="news.html">5</a> <a href="news.html">6</a> <a href="news.html">7</a> <a href="news.html">8</a> <a href="news.html">9</a> <a href="news.html">10</a> <a href="news.html">11</a> <a href="news.html">12</a> <a href="news.html">13</a> <a href="news.html">14</a> <a href="news.html">15</a> <a href="news.html">16</a> <a href="news.html">17</a> <a href="news.html">18</a> <a href="news.html">19</a> <a href="news.html">20</a> <a href="news.html">Last</a> <a href="news.html">&gt;&gt;</a>
</div>

{% endblock pagination %}
