{% extends 'main/base.html' %}

{% block map %}
    <div id="gallery">
            {% load staticfiles %}
        <div align="center"><img src='{% static "images/imgCrisis2.jpg" %}'  alt="Img" width="316" height="202" border = 5></div>
    </div>

{% endblock map %}

{% block body-content %}
				<div class="body"><br>
                <h1><b><u> Contact Information </u></b></h1>
                <br>
				  <h4><u>Singapore Civil Defence Force (SCDF) </u></h4>
				  <p> The SCDF has a 24-hour Emergency Ambulance Services (EAS), which has medical personnel that are well equipped with the necessary skills to handle all emergency situations.
                    <br>
                    <br>
More information can be found here: <br>
<a href="http://www.scdf.gov.sg/content/scdf_internet/en/general/information/information_on_scdfand1777ambulanceservices.html">SCDF Ambulance services</a> <br>
<br>
In the event of fire-fighting, gas leak control and resue and evacation, please call <b>995</b>.</p>
                    <h4><u>Singapore Police Force (SPF) </u></h4>
				  <p> The SPF has a 24-hr hotline that handle the calls of the public to alert them regarding any crime situations.
                  </p>
					<p> More information can be found here:
                    <br>
                    <a href = "http://www.spf.gov.sg/">SPF Website </a>
                    <br>
                    <br>
                    In the event of any crime situation, please call <b>999</b>.
                    <h4><u>National Environment Agency (NEA)</u> </h4>
				  <p> NEA is the public organization that is in charge of the environmental issues.
                    <br>
                    <br>
                    More information can be found here: <br>
<a href="http://app2.nea.gov.sg/">NEA Website</a> </p>
                    <p>In the event of any pollution and damages to the environment, please call <b>1800-2255 632</b>.</p>

                    <h4><u>Ministry of Health (MOH) </u></h4>
				  <p> The MOH promotes good health, maintain healthcare system and reducing illness.
                    <br>
                    <br>
                    More information can be found here: <br>
                  <a href="https://www.moh.gov.sg/content/moh_web/home.html">MOH website</a> </p>
                    <p>In the event of any health-related issues, please call <b>6325 9220</b>.</p>

				</div>

{% endblock  %}

{% block navigation %}
			  <div id="navigation">
                    <div>
						<ul>
							<li class="selected">
								<a href="/event/event_list/">EVENTS</a>
							</li>

							<li>
								<a href="/post/post_list/">NEWS</a>
							</li>
							<li>
								<a href="/about">ABOUT US</a>
							</li>
                            <li>
								<a href="/contact"><font color="#FFFFFF">CONTACT US</font></a>
							</li>

					  </ul>
					</div>
				</div>
{% endblock navigation %}

