{% extends 'main/base.html' %}

{% block content %}
    <p>This is the main page</p>
    {% if user.is_authenticated %}
        <a href="{% url 'user.user_logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'user.user_login' %}">Login</a>
    {% endif %}

    <br><strong>Post</strong>
    <a href="{% url 'post.post_list' %}">See post list..</a>

    <br><strong>User</strong>
    <a href="{% url 'user.user_create'%}">Add a new user</a>


<ul id="list">
{% for post in post_list %}
<li>

						  <h3>{{post.title}}</h3>
						  <span class="time">{{post.created_at}}<br>
					      </span>
						  <p>
						    <br>
                              {{post.content|safe}}
                            <a href="/post/post_retrieve/{{post.id}}/">See more..</a>
                           </p>

            <a href="/post/post_retrieve/{{post.id}}/" class="more">Read more &gt;&gt;</a>
</li>

{% endfor %}
    <div id="pagination">
    <a href="news.html">&lt;&lt;</a> <a href="news.html">First</a> <a href="news.html">1</a> <a href="news.html">2</a> <a href="news.html">3</a> <a href="news.html">4</a> <a href="news.html">5</a> <a href="news.html">6</a> <a href="news.html">7</a> <a href="news.html">8</a> <a href="news.html">9</a> <a href="news.html">10</a> <a href="news.html">11</a> <a href="news.html">12</a> <a href="news.html">13</a> <a href="news.html">14</a> <a href="news.html">15</a> <a href="news.html">16</a> <a href="news.html">17</a> <a href="news.html">18</a> <a href="news.html">19</a> <a href="news.html">20</a> <a href="news.html">Last</a> <a href="news.html">&gt;&gt;</a>
    </div>
</ul>



{% endblock content %}
