{% extends 'main/base_list.html' %}

{% load event_permission_tags %}


{% block content-title %}
    {% if not user|can_list_event %}
    {% endif %}
{% endblock content-title %}

{% block pagination %}
    {% if not user|can_list_event %}
    {% endif %}
{% endblock %}


{% block content %}
{% if user|can_list_event %}

</br></br>

<button type="button" class="btn" onclick="window.location.href='/event/event_create/'" >
Create a report
</button><br>

<ul id="list">
{% for event in event_list %}
        <li>
            <h3>{{event.title}}</h3>
            <span class="time">{{event.created_at}}</span>
            <p>
            </br>
    <strong>Type: </strong> {{event.type}} <br/>
    <strong>Created by:</strong> {{event.created_by}}</br>
    <strong>Related to: </strong>
    {% for user in event.related_to.all %}
    {{user.username}}
    {% endfor %}

    <br/>
    {{event.description}}
    </br/>

    </p>
            <a href="/event/event_retrieve/{{event.id}}/" class="more">Read more &gt;&gt;</a>
        </li>

{% endfor %}
</ul>
{% endif %}

{% endblock %}

