
{% extends 'main/base.html' %}
{% load event_permission_tags %}

{% block map %}
{% endblock %}

{% block body-title %}
{% endblock %}

{% block body-content %}
<div class="body">
    <ul id="list">
        <li>
          <h3>{{event.title}}</h3>
          <br>
          <p>By {{event.created_by}} </p>
          <p>{{event.created_at}}</p>
          <p>Type: {{event.type}}</p>
          <p>&nbsp;</p>
            <p>{{event.description}}</p>
            <p>&nbsp;</p>
          <p>Reporter: {{event.reporter_name}} | {{event.reporter_phone_number}}</p>
          <p>Address: {{event.address}}</p>
          <p>Postal Code: {{event.postal_code}}</p>
         </li>
</ul>

<input type="Submit" class="btn" value="Back to Home" onclick="window.location.href='/main/'">

{% if user|can_update_event:event %}
<input type="Submit" class="btn" name="Edit" id="Edit" value="Edit" onclick="window.location.href='/event/event_update/{{event.id}}'">
{% else %}
<input name="btnEdit" type="submit" class="btn" id="btnEdit" value="Edit" width="10" height="100" style="color: #999;" disabled="">
{% endif %}

{% if user|can_delete_event:event %}
<input type="Submit" class="btn" name="Delete" id="Delete" value="Delete" onclick="confirmDeleteevent()">
{% else %}
<input name="btnEdit" type="submit" class="btn" id="btnEdit" value="Delete" width="10" height="100" style="color: #999;" disabled="" onclick="confirmDeleteevent()">
{% endif %}
</div>

<script type="text/javascript">
        function confirmDeleteevent() {
            var resp = confirm("Are you sure to delete this event?")
            console.log(resp + 'work');
            if (resp) {
                window.location.href   = '/event/event_delete/{{event.id}}/';
            }
            return false;
        }
</script>

{% endblock %}