{% extends "main/base_list.html" %}
{% load event_permission_tags %}
{% load my_custom_tags %}

{% block body-title-list %}
    Events

{% if user|can_create_event %}
<input style="float: right" type="Submit" class="btn" name="Edit" id="Edit"
value="Create Event" onclick="window.location.href='/event/event_create/'">
{% else %}
<input name="btnEdit" type="submit" class="btn" id="btnEdit" value="Create Event" width="10" height="100" style="color: #999; float: right" disabled="">
{% endif %}

{% endblock body-title-list %}

{% block body-content %}

<ul id="list">
{% for event in event_list %}
        <li>
            <h3>{{event.title}}</h3>
            <span class="time">{{event.created_at}} | {{event.created_by|officalName}}</span>
            <br/>
            <p>
    <strong>Type: </strong> {{event.type}}
    <br/>
    <strong>Created by:</strong> {{event.created_by}}
    <br/>
    <strong>Related rescue agencies: </strong>
    {% for user in event.related_to.all %}
    {{user|officalName}};
    {% endfor %}
    </br>
    {{event.description}}...
    </br/>

    </p>
            <a href="/event/event_retrieve/{{event.id}}/" class="more">Read more &gt;&gt;</a>
        </li>

{% endfor %}


{% endblock %}
