
{% extends 'main/base.html' %}

{% block map %}
{% endblock %}
{% block content-title %}
{% endblock %}

{% block content %}
<div class="body">
    <ul id="list">
        <li>
          <h3>{{event.title}}</h3>
          <br>
          <p>By {{event.created_by}} </p>
          <p>{{event.created_at}}</p>
          <p>Type: {{event.type}}</p>
          <p>&nbsp;</p>
            <p>{{event.description}}</p>
            <p>&nbsp;</p>
          <p>Reporter: {{event.reporter_name}} | {{event.reporter_phone_number}}</p>
          <p>Address: {{event.address}}</p>
          <p>Postal Code: {{event.postal_code}}</p>
         </li>
</ul>
<input type="Submit" class="btn" name="Back to News" id="Back to News" value="Back to Home" onclick="window.location.href='/main/'">
<input type="Submit" class="btn" name="Edit" id="Edit" value="Edit" onclick="window.location.href='/event/event_update/{{event.id}}'">
<input type="Submit" class="btn" name="Delete" id="Delete" value="Delete" onclick="confirmDeleteevent()">
</div>
    <!--<a href="{% url 'event.event_list' %}">back to event list</a>-->
    <!--<a href="/event/event_update/{{event.id}}" >Edit this event</a>-->
    <!--<a href="#" onclick="confirmDeleteevent()">Delete this event</a>-->
    <script type="text/javascript">
        function confirmDeleteevent() {
            var resp = confirm("Are you sure to delete this event?")
            console.log(resp + 'work');
            if (resp) {
                window.location.href   = '/event/event_delete/{{event.id}}/';
            }
            return false;
        }
    </script>
{% endblock %}