{% extends "main/base.html" %}

{% block navigation %}
{% include "main/event_common.html" %}
{% endblock %}

{% block map %}
{% endblock %}

{% block content-title %}
    Event List

<div id="spend_filter" class="btn-group">
      <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
  			<i class="icon-filter"></i>
				Filter By
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
				<li>
					<a href="0">All</a>
				</li>
				<li>
					<a href="1">Haze</a>
				</li>
				<li>
					<a href="2">BirdFlu</a>
				</li>
			</ul>
		</div>
{% endblock content-title %}


{% block content %}
<a href="{% url 'main.main_page' %}">back to main page</a>
<br>

<a href="/event/event_create/">Add a new event</a>
<br>


<ul id="list">
{% for event in event_list %}
        <li>
            <span class="time">{{event.created_at}}</span>
            <h3>{{event.title}}</h3>
            <p>
    {{event.description}}
    <a href="/event/event_retrieve/{{event.id}}/">See more..</a>
    </br/>
    <strong>Type: </strong> {{event.type}}
    <br/>
    <strong>Related to: </strong>
    {% for user in event.related_to.all %}
    {{user.username}}
    {% endfor %}

    </p>
            <a href="/event/event_retrieve/{{event.id}}/" class="more">Read more &gt;&gt;</a>
        </li>

{% endfor %}
<div id="pagination">
<a href="news.html">&lt;&lt;</a> <a href="news.html">First</a> <a href="news.html">1</a> <a href="news.html">2</a> <a href="news.html">3</a> <a href="news.html">4</a> <a href="news.html">5</a> <a href="news.html">6</a> <a href="news.html">7</a> <a href="news.html">8</a> <a href="news.html">9</a> <a href="news.html">10</a> <a href="news.html">11</a> <a href="news.html">12</a> <a href="news.html">13</a> <a href="news.html">14</a> <a href="news.html">15</a> <a href="news.html">16</a> <a href="news.html">17</a> <a href="news.html">18</a> <a href="news.html">19</a> <a href="news.html">20</a> <a href="news.html">Last</a> <a href="news.html">&gt;&gt;</a>
					</div>
  </ul>


{% endblock content %}

{% block action %}

{% endblock %}
