{% extends 'main/base.html' %}
{% load user_permission_tags %}

{% block map %}
{% endblock %}

{% block body-title-form %}
    <h1><u>User Profile</u></h1>

{% endblock %}

{% block body-content %}
<div class="body">
    <ul id="list">
        <li>
          <h3>{{userprofile.name}}</h3>
          <br>
          <p>Username: {{userprofile.user.username}} </p>
          <p>Group: {% for group in userprofile.user.groups.all %}{{group}} {% endfor %}</p>
          <p>Email: {{userprofile.user.email}}</p>
          <p>Phone number: {{userprofile.phone_number}}</p>

          <p>&nbsp;</p>
            <p>{{post.content}}</p>
            <p>&nbsp;</p>
          <br>
        </li>
    </ul>
</div>

{% if user|can_list_user %}
<input type="Submit" class="btn" name="Edit" id="Edit" value="User List" onclick="window.location.href='/user/user_list/'"/>
{% endif %}
<input type="Submit" class="btn" name="Edit" id="Edit" value="Edit Profile" onclick="window.location.href='/user/user_update/{{userprofile.user.id}}'">
{% if user|can_delete_user %}
<input type="Submit" class="btn" name="Delete" id="Delete" value="Delete" onclick="confirmDeleteUser()">
{% endif %}

<script type="text/javascript">
    function confirmDeleteUser() {
        var resp = confirm("Are you sure to delete this user?")
        if (resp) {
            window.location.href   = '/user/user_delete/{{userprofile.user.id}}/';
        }
        return false;
    }
</script>
{% endblock %}