{% extends 'main/base.html' %}

{% block map %}
{% endblock %}
{% block content-title %}
    This is user detail
{% endblock %}

{% block content %}
    <strong>Username:</strong>
    {{userprofile.user.username}}
    <br>
    <strong>Password:</strong>
    <br>
    <strong>User name:</strong>
    {{userprofile.name}}
    <br>
    <strong>User phone_number:</strong>
    {{userprofile.phone_number}}
    <br>
    <strong>User group:</strong>
    {% for group in userprofile.user.groups.all %}
    {{group.name}}
    {% endfor %}
    <br>

    <a href="/user/user_update/{{user.id}}" >Edit this profile</a>
    <a href="#">Delete this profile</a>
{% endblock %}