{% extends "main/base_list.html" %}
{% block map %}
{% endblock %}

{% block body-title-list %}
User List

<input style="float: right" type="Submit" class="btn btn-primary" name="Edit" id="Edit"
value="Create News" onclick="window.location.href='/user/user_create/'">

{% endblock body-title-list %}

{% block filter %}
{% endblock %}

{% block body-content %}

<ul id="list">
{% for userprofile in user_list %}
<li>

						  <h3>{{userprofile.name}}</h3>
						  <p>
						    </br>
                              Username: {{userprofile.user.username}}...
                            </br>
                              Email : {{userprofile.user.email}}
                           </p>

            <a href="/user/user_retrieve/{{userprofile.user.id}}/" class="more">Read more &gt;&gt;</a>
</li>
{% endfor %}
</ul>

{% endblock body-content %}

