{% extends 'main/base.html' %}

{% block map %}
{% endblock %}

{% block content-title %}
    <h1><u>User Profile</u></h1>
{% endblock %}

{% block content %}
<div class="body">
    <ul id="list">
        <li>
          <h3>{{userprofile.name}}</h3>
          <br>
          <p>Username: {{userprofile.user.username}} </p>
          <p>Group: {% for group in userprofile.user.groups.all %}{{group}} {% endfor %}</p>
          <p>Email: {{userprofile.user.email}}</p>
          <p>Phone number: {{userprofile.phone_number}}</p>

          <p>&nbsp;</p>
            <p>{{post.content}}</p>
            <p>&nbsp;</p>
          <br>
<input type="Submit" class="btn" name="Edit" id="Edit" value="Edit Profile" onclick="window.location.href='/user/user_update/{{user.id}}'">
<input type="Submit" class="btn" name="Delete" id="Delete" value="Delete Profile" onclick="confirmDeletePost()">
        </li>
    </ul>
</div>
{% endblock %}