<!DOCTYPE html>

<html>
<head><title>Social Network Login</title>
<script>
    var settings = {
        facebookAppId: {{ facebook_app_id }}
    };
</script>
</head>
<body>
<!-- Begin Facebook SDK Embed -->
    <div id="fb-root"></div>
<!-- End Facebook SDK Embed -->
    <div>
        <h2>Social Network Login</h2>
        {% if not is_logged_into_twitter %}
        <p><a href="javascript:;">Login with Twitter</a></p>
        {% else %}
        <p><a href="javascript:;">Remove Twitter Token</a></p>
        {% endif %}
        {% if not is_logged_into_facebook %}
        <!-- <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true" data-scope="manage_pages"></div> -->
        <p><a id="facebook-login" href="javascript:;">Login with Facebook</a></p>
        {% else %}
        <p><a href="facebook/logout">Remove Facebook Token</a></p>
        {% endif %}
    </div>
    <div>
        <h2>Social Network Test</h2>
        <form id="postForm" action="post" method="post">
            <label for="postTitle">Title:</label>
            <input type="text" name="postTitle" id="postTitle" />
            <br />
            <label for="postLink">Link:</label>
            <input type="text" name="postLink" id="postLink" />
            <br />
            <label for="postContent">Content:</label>
            <textarea id="postContent" name="postContent"></textarea>
            <br />
            <input type="submit" value="Submit" />
        </form>
        <p id="postStatus"></p>
    </div>
</body>
</html>

{% load staticfiles %}
<script src="{% static 'Javascript/jquery-2.1.0.min.js' %}"></script>
<script src="{% static 'Javascript/socialLogin.js' %}"></script>


