<!DOCTYPE html>
{% load bootstrap3 %}
{% load staticfiles %}

<html>
<head><title>Social Network Manager</title>
<script src="{% static 'Javascript/jquery-2.1.0.min.js' %}"></script>
{% bootstrap_css %}
{% bootstrap_javascript %}
<style>
#sitesTable th,
#sitesTable td
{
    padding: 2px 0px;
}
#sitesTable tr td:last-child
{
    text-align: right;
    padding-left: 10px;
}
</style>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Social Network Manager</h1>
        </div>
        {% bootstrap_messages %}
        
        <table id="sitesTable">
        <tbody>
        {% for site_id, site in sites.items %}
        <tr id="{{ site_id }}Site">
        {% if site.is_logged_in %}
            <td>Posting on {{ site.name }} as <a href="{{ site.account_url|default_if_none:"javascript:;" }}">{{ site.account_name }}</a>.</td>
            <td><a class="btn btn-danger logoutButton" href="{{ site.logout_uri }}"><span class="glyphicon glyphicon-remove"></span></a></td>
        {% else %}
            <td>Not logged into {{ site.name }}.</td>
            <td><a class="btn btn-primary loginButton" href="{{ site.auth_uri }}">Login</a></td>
        {% endif %}
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</body>
</html>